.btn {
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: $mainOrange;
        color: $mainBlue;

        svg {
            fill: red;
          }
    }

    &--orange {
        background-color: $mainOrange;
        
        &:hover {
            background-color: #fff;
            color: $mainOrange;
        }
    }

    &--large {
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }

    &__icon {

        &--connect {
            width: 30px;
            display: inline;
            margin-right: 5px;
            vertical-align: bottom;

            
              

        }
    }
    
}