.btn {
    width: 230px;
    height: 50px;
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    display: inline-flex;
    align-self: center;
    justify-content: center;

    p {
      line-height: .75rem;
    }

    &--blue {
        background-color: $mainBlue;

        svg {
            fill: #fff;
            stroke: #fff;
        }
        
        &:hover {
            background-color: $mainOrange;
            color: #fff;

            svg {
                fill: #fff;
                stroke: #fff;
            }
        }
    }

    &--orange {
        background-color: $mainOrange;
        
        &:hover {
            background-color: #fff;
            color: $mainOrange;
        }
    }

    &--clear {
        background-color: transparent;
        border: solid 1.5px #fff;

        svg {
            fill: #fff;
            stroke: #fff;
        }
        
        &:hover {
            background-color: #fff;
            color: $mainBlue;

            svg {
                fill: $mainBlue;
                stroke: $mainBlue;
              }
        }
    }

    &--large {
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }

    &__icon {
        
        &--connect {
            width: 35px;
            display: inline;
            margin-right: 8px;
            vertical-align: bottom;
        }

        &--resume {
            width: 35px;
            display: inline;
            margin-right: 8px;
            vertical-align: bottom;
        }
    }

    &__margin {

        &--md {
            margin: 0 0 15px 0;

            @mixin atMedium {
                margin: 0 25px 0 0;
            }
        }
    }
}