.btn {
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: $mainOrange;
        color: $mainBlue;
    }

    &--orange {
        background-color: $mainOrange;
        
        &:hover {
            background-color: #fff;
            color: $mainOrange;
        }
    }

    &--large {
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }

    &--submit {
        width: 100%;
        background-color: transparent;
        color: $mainOrange;
        border: solid 2px $mainOrange;
        margin-top: 2rem;
    }
}