
$lightBg: #f2f2f2;
$light: #999;
$high: #333;

$BP: 35em;

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid $mainBlue;
  outline: none;
  color: #000;
  transition: border-color .5s ease;
  
  &:focus {
    border-color: $high;
  }
  
  &::invalid {
    border-color: #B31B1B;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 2.5rem;
  margin-bottom: 1rem;
}

textarea {
  resize: none;
  height: 10rem;
  line-height: 1.5rem;
  
  @media (max-width: $BP) {
    height: 2.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
}

::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: $light;
  }