
$lightBg: #f2f2f2;
$light: #999;
$high: #333;

$BP: 35em;


.form {
  position: fixed;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, .95);
  overflow: hidden;
  transition: height .5s ease, width .5s ease .5s;
  z-index: 50;
  box-shadow: 0px 0px 20px  #888888;
  
  form {
    max-height: 100%;
    height: auto;
    
    @media (max-width: $BP) {    
      height: auto; 
    }
  }
  
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: $light;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid $mainBlue;
    outline: none;
    color: $high;
    transition: border-color .5s ease;
    
    &:focus {
      border-color: $high;
    }
    
    &::invalid {
      border-color: #B31B1B;
    }
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: 2.5rem;
    margin-bottom: 1rem;
  }
  
  textarea {
    resize: none;
    height: 10rem;
    line-height: 1.5rem;
    
    @media (max-width: $BP) {
      height: 2.5rem;
      margin-bottom: 1rem;
      line-height: 2rem;
    }
  }
  
  .closeFormLabel,
  .sendForm {
    width: 100%;
    margin-top: 2rem;
    border-style: none;
    text-align: center;
  }

  .closeFormLabel {
    color: $mainBlue;
    background-color: #fff;
    border: 2px solid $mainBlue;

    &:hover,
    &:focus {
      background-color: $mainBlue;
      color: #fff;
    }
  }

  .sendForm {
    background-color: $mainBlue;
    border: 2px solid $mainBlue;

    &:hover,
    &:focus {
      background-color: $mainOrange;
      border: 2px solid $mainOrange;
      color: #fff;
    }
  }
  
  .closeFormLabel {
    left: 0;
    
    @media (max-width: $BP) {
      bottom: 1rem; 
    }
  }
}

/* SHOW FORM CSS */
input.showForm {
  display: none;
  
  &:checked + .form {
    width: 90%;
    height: 50%;
    box-shadow: 4px 5px 5px 5px darken($lightBg, 30%);
    overflow: auto;
    transition: width .5s ease, height .5s ease .5s;
    
    @mixin atSmall {
      width: 80%;
      height: 50%;
    }

    @mixin atMedium {
      width: 70%;
      height: 50%;
    }
  }
}

.showFormLabel {
  position: fixed;
  cursor: pointer;
  display: block;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  background-color: $mainOrange;
  border-radius: 100%;
  border: 2px solid #fff;
  z-index: 1;
  transition: background-color .5s ease, border-color .5s ease, transform .5s ease;
  text-align: center;
   
    &:hover,
    &:focus {
      background-color: $mainBlue;
      transform: scale(1.25);
    }
  
  @media (max-width: $BP) {
    width: 90%;
    left: 5%;
  }

  &__icon {
    width: 2.25rem;
    height: auto;
    margin-top: 1.1rem;
    fill: #fff;

    
  }
}

#formClose {
  display: block;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  background-color: red;
  border-radius: 100%;
  text-align: center;
}

#contactClose{
  /* DON'T USE DISPLAY NONE/BLOCK! Instead: */
  visibility: hidden;
  opacity: 0;
          transition: 0.6s;
  -webkit-transition: 0.6s;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;

}
#contactClose.appear{
  visibility: visible;
  opacity: 1;

}