.large-hero {
    border-bottom: 10px solid $mainBlue;
    position: relative;
    min-height: 450px;
    overflow: hidden;

    @mixin atSmall {
        border-bottom: 10px solid $mainBlue;
        position: relative;
        height: 600px;
        overflow: hidden;
    }

    &__transperancy {
        z-index: 0;
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 100px black;
    }

    &__image {
        z-index: -1;
        position: absolute;
        display: block;
        /* Position the image in the middle of its container. */
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        margin: auto;
        /* The following values determine the exact image behaviour. */
        /* You can simulate background-size: cover/contain/etc.
            by changing between min/max/standard width/height values.
            These values simulate background-size: cover
        */
        min-width: 100%;
        min-height: 100%;
     }


    &__text-content {
        padding: 140px 0 40px 0;
        position: absolute;
        top: 70%;
        transform: translateY(-70%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atSmall {
            top: 50%;
            transform: translateY(-50%);
            padding: 160px 0 40px 0;
        }
    }

    &__title {
        font-weight: 400;
        color: #fff;
        font-size: 2rem; /* Super tiny screen size */
        margin: 0;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .2);
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @keyframes moveInLeft {
            0% {
              opacity: 0;
              transform: translateX(-10rem); }
            80% {
              transform: translateX(2rem); }
            100% {
              opacity: 1;
              transform: translateX(0); } 
        }

        @mixin atSmall {
            font-size: 4.4rem;
        }
    }

    hr {
        width: 275px;
        border-top: 1.5px solid #fff;
            animation-name: moveInCenter;
            animation-delay: 1s;
            animation-duration: 2s;
            animation-timing-function: ease-out;
            animation-fill-mode: backwards;

        @mixin atSmall {
            width: 400px;
        }

        @mixin atMedium {
            width: 400px;
        }
        
        @keyframes moveInCenter {
            0% {
              opacity: 0;
              width: 0px; }
            100% {
              opacity: 1;
              width: 400px; } 
        }
    }

    &__subtitle {
        font-weight: 400;
        color: #fff;
        font-size: 1.5rem;
        margin: 0;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .2);
        animation-name: moveInRight;
	    animation-duration: 2s;
	    animation-timing-function: ease-out;

        @keyframes moveInRight {
            0% {
              opacity: 0;
              transform: translateX(10rem); }
            80% {
              transform: translateX(-2rem); }
            100% {
              opacity: 1;
              transform: translateX(0); } 
        }

        @mixin atSmall {
            font-size: 2rem;
        }
    }

    &__description {
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 400;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .25);

        @mixin atSmall {
            font-size: 1.875rem;
        }
    }

    &__btn-container {
        margin-top: 1.5rem;

        @mixin atMedium {
            margin-top: 2rem;
        }

    }
}
