.primary-nav {
    width: 100%;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {

        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
        list-style: none;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        list-style: none;
        display: inline-block;
        width: 100px;

        @mixin atMedium {
            float: left;
            display: block;
            width: 125px;
     
            /* padding-right: 20px;*/
            text-align: center !important;
        }
    }

    li:nth-child(2) {

        @mixin atMedium {
            margin-right: 3rem;
        }
    }

    li:nth-child(3) {

        @mixin atMedium {
        margin-left: 3rem;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            /* padding-right: 20px;*/
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .3);
        text-align: center;

        @mixin atMedium {
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;

            &.is-current-link {
                color: #fabb69;
            }
        }

        &:hover {
            background-color: $mainBlue;
        }
    }

    ul li ul li {
        display: none;
    }

    ul li:hover ul li {
        display: block;
        -webkit-animation: slide-down .3s ease-out;
        -moz-animation: slide-down .3s ease-out;
    }

    &--sub-list {
      padding: 0 !important;
      margin: 0 !important;
    }
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}