.primary-nav {
    width: 100%;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {

        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
        list-style: none;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        list-style: none;
        display: inline-block;
        width: 100px;

        @mixin atMedium {
            float: left;
            display: block;
            width: 125px;
     
            /* padding-right: 20px;*/
            text-align: center !important;
        }
    }

    li:nth-child(2) {

        @mixin atMedium {
            margin-right: 3rem;
        }
    }

    li:nth-child(3) {

        @mixin atMedium {
        margin-left: 3rem;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            /* padding-right: 20px;*/
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .3);
        text-align: center;

        @mixin atMedium {
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;

            &.is-current-link {
                color: #fabb69;
            }
        }

        &:hover {
            background-color: $mainBlue;
        }
    }

    ul li ul li {
        display: none;
    }

    ul li:hover ul li {
        display: block;
        -webkit-animation: slide-down .3s ease-out;
        -moz-animation: slide-down .3s ease-out;
    }
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }