.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    @mixin atSmall {
        font-size: 3rem;
    }

    @mixin atMedium {
        font-size: 3.75rem;
    }

    &--qualifications {
        margin-top: 6rem;
    }

    &--certificates {
        margin-bottom: 5rem;
    }

    strong {
        font-weight: 500;
    }

    &--blue {
        color: $mainBlue;
    }

    &--orange {
        color: $mainOrange;
    }

    &--white {
        color: #fff
    }

    &--less-margin {
        margin-bottom: 0;
        margin-top: 0;
    }

    &--med-margin {
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    &__icon {
        display: block;
        transform: scale(.85);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;

        &__white {
            fill: #fff !important;
        }

        &__blue {
            fill: $mainBlue !important;
        }

        @mixin atSmall {
            position: relative;
            transform: scale(1);
            top: 8px;
            margin-right: .5rem; 
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;
        }

        &__qualifications {
            position: relative;
            transform: scale(.85);
            top: 20px;
            margin: 0;
            display: inline-block;

            @mixin atSmall {
                transform: scale(.85);
            }
        }

        &__certificates {
            position: relative;
            transform: scale(.85);
            top: 25px;
            margin-right: .5rem; 
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;

            @mixin atSmall {
                transform: scale(1);
            }
        }

        &__work-history {
            position: relative;
            transform: scale(.85);
            top: 5px;
            margin-right: .5rem; 
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;

            @mixin atSmall {
                transform: scale(1);
            }
        }


        &__design-works {
            position: relative;
            transform: scale(.85);
            top: 30px;
            margin-right: .5rem; 
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;

            @mixin atSmall {
                transform: scale(1);
            }
        }
    }
}