.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    @mixin atSmall {
        font-size: 3rem;
    }

    @mixin atMedium {
        font-size: 3.75rem;
    }

    &--qualifications {
        margin-top: 2rem;

        @mixin atSmall {
            margin-top: 6rem;
        }
    }

    &--certificates {
        margin-top: 2rem;
        margin-bottom: 3rem;

        @mixin atSmall {
            margin-top: 2.5rem;
            margin-bottom: 4rem;
        }
    }

    &--work-history {
        margin-top: 2rem;
        margin-bottom: 2rem;

        @mixin atSmall {
            margin-top: 6rem;
            margin-bottom: 3rem;
        }
    }

    &--works {
        margin-top: 2rem;
        margin-bottom: 3rem;

        &--title {
            font-size: 2.25rem;
            font-weight: 500;
            text-align: center;
            margin-bottom: 2rem;

            @mixin atSmall {
                font-size: 2.5rem;
            }
        
            @mixin atMedium {
                font-size: 3.3rem;
            }
        }

        @mixin atSmall {
            margin-top: 2.5rem;
            margin-bottom: 3rem;
        }
    }

    strong {
        font-weight: 500;
    }

    &--blue {
        color: $mainBlue;
    }

    &--orange {
        color: $mainOrange;
    }

    &--white {
        color: #fff
    }

    &--less-margin {
        margin-bottom: 0;
        margin-top: 0;
    }

    &--med-margin {
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    &__icon {
        display: block;
        transform: scale(.85);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;

        &__white {
            fill: #fff !important;
        }

        &__blue {
            fill: $mainBlue !important;
        }

        @mixin atSmall {
            position: relative;
            transform: scale(1);
            top: 8px;
            margin-right: .5rem; 
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;
        }

        &__qualifications {
            transform: scale(.65);
            vertical-align: -10px;
            margin-bottom: 0;

            @mixin atSmall {
                margin-right: 0;
                transform: scale(.8);
                vertical-align: -10px;
            }
        }

        &__certificates {
            transform: scale(.85);
            vertical-align: 0px;
            margin-bottom: 0;

            @mixin atSmall {
                transform: scale(1);
                margin-right: .5rem;
                vertical-align: -10px;
            }
        }

        &__work-history {
            transform: scale(.85);
            vertical-align: 0px;
            margin-bottom: .5rem;

            @mixin atSmall {
                transform: scale(1);
                margin-right: .5rem;
                vertical-align: -5px;
            }
        }

        &__design-works {
            transform: scale(.85);
            vertical-align: 0px;
            margin-bottom: 0;

            @mixin atSmall {
                transform: scale(1);
                margin-right: .5rem;
                vertical-align: -25px;
            }
        }
    }
}