.site-footer {
    background-color: $mainBlue;
    color: #fff;
    padding: 1rem 0;

    &__text {
        font-weight: 200;
        line-height: normal;
        padding: 0;

        @mixin atMedium {
            float: right;
        }
    }

    &__left {
        justify-content: center;
        flex-direction: column;

        @mixin atMedium {
            justify-content: left;
            flex-direction: row;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;

        @mixin atMedium {
            justify-content: flex-end;
        }

    }
}
