.site-footer {
    background-color: $mainBlue;
    color: #fff;
    padding: .75rem 0;

    &__text {
        margin-bottom: 1rem;
        font-weight: 200;

        @mixin atMedium {
            margin-bottom: 0;
            float: right;
        }
    }

    &__left {
        text-align: center;
        align-items: center;
    justify-content: center;

        @mixin atMedium {
            text-align: left;
        }
    }

    &__right {
        text-align: center;
    }
}