.works {

    &__image {
        cursor: pointer;
        transition: 0.5s;
    
        &:hover {
            opacity: 0.5;
          }
    }

    &--feature {

        img {
            outline: 4px solid lightgrey;
            outline-offset: -4px;
            max-width: 100%;
            display: block;
        }
    }

    &--2-col-assortment {
        /* Prevent vertical gaps */
        line-height: 0;
         
        -webkit-column-count: 2;
        -webkit-column-gap:   0px;
        -moz-column-count:    2;
        -moz-column-gap:      0px;
        column-count:         2;
        column-gap:           0px;  

        img {
            /* Just in case there are inline attributes */
            outline: 4px solid lightgrey;
            outline-offset: -4px;
        }
    }

    &--1-col-assortment {
        /* Prevent vertical gaps */
        margin: 0;
        padding: 0;

        img {
            /* Just in case there are inline attributes */
            outline: 4px solid lightgrey;
            outline-offset: -4px;
        }
    }

    &--2-col-row-assortment {
        /* Prevent vertical gaps */
        line-height: 0;

        img {
            /* Just in case there are inline attributes */
            outline: 4px solid lightgrey;
            outline-offset: -4px;
        }
    }

}


  
 